
# Ignore Eclipse infrastructure 

.project
.pydevproject

# Complied Python
*.pyc

# Ignore the contributed libraries
/lib

# Keep my secrets
/fnf/secrets.py

# Ignore the generated parser
/signup/parser/StaffSheetLexer.py
/signup/parser/StaffSheetLexer.tokens
/signup/parser/StaffSheetListener.py
/signup/parser/StaffSheetParser.py
/signup/parser/StaffSheet.tokens

