
# Ignore Eclipse infrastructure 

.project
.pydevproject
.externalToolBuilders
.settings 

# Complied Python
*.pyc

# Ignore the contributed libraries
/lib

# Keep my secrets
/fnf/secrets.py
/fnf/letsencrypt.py 

# Ignore the generated parser
/signup/parser/StaffSheetLexer.py
/signup/parser/StaffSheetLexer.tokens
/signup/parser/StaffSheetListener.py
/signup/parser/StaffSheetParser.py
/signup/parser/StaffSheet.tokens
/signup/parser/StaffSheet.interp
/signup/parser/StaffSheetLexer.interp

# Ignore some of my helper stuff
/upload.sh

# PyCharm stuff
.idea

venv*/
db.sqlite3
