{% load staticfiles %}

<!-- popup form -->	
 <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content" id="modal-content">
       <div id="form-modal-body" class="modal-body">
       </div>
     </div>
   </div>
 </div>

<script>
var formAjaxSubmit = function(form, modal) {
     jQuery(modal).modal('toggle');
     $(form).submit(function (e) {
         e.preventDefault();
         $.ajax({
             type: $(this).attr('method'),
             url: $(this).attr('action'),
             data: $(this).serialize(),
             success: function (xhr, ajaxOptions, thrownError) {
                 if ( $(xhr).find('.has-error').length > 0 ) {
                     $(modal).find('.modal-content').html(xhr);
                     formAjaxSubmit(form, modal);
                 } else {
                 	location.reload();
                 }
             },
             statusCode: {
             	450: function() {
             		alert('Oh no!\nThis job is no longer available.');
             	}, 
             	451: function() {
             		alert("Whoa there.\nYou're already signed up for a job at this time.");
             	}
             }
         });
     });
 }
 
 function popup_click(ajaxurl) {
     $('#modal-content').load(ajaxurl, function () {
         formAjaxSubmit('#modal-content form', '#form-modal');
     });
 }
</script>
