{% load coordinator %}
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
	<a class="navbar-brand" href="/">FnF XX Volunteer Signup Sheet</a>
</div>
	<ul class="nav navbar-nav navbar-right"> 
	{% if user.is_authenticated %}
		<li class="active">
			<a href="{% url "user" %}">{{ user.first_name | title }}</a>
		</li>
	{% is_coord as coordinator %}
	{% if coordinator %}
		<li class="active">
			<a href="{% url "source_list" %}">Coordinator</a> 
		</li>
	{% endif %}
	{% if user.is_superuser %}
		<li class="active">
			<a href="/admin">Administration</a> 
		</li>
	{% endif %}
		<li class="active">
			<a href="{% url "logout" %}">Logout</a> 
		</li>
	{% else %}
		<li class="active">
			<a href="{% url "login" %}">Login</a> 
		</li>
	{% endif %}
	</ul>

</div>
</nav>
