{% extends 'base.html' %}

{% block sitenav %}
{% include 'sitenav.html' %}
{% endblock %}

{% block content %}
<ul>
	<h1>Administrator Interface</h1>
    {% for source in object_list %}
    <div>
    {{ source.title }} 
    modified by {{ source.owner }} on {{ source.version }}
    <a href="{% url "source_update" source.title %}">Edit</a>
    <a href="{% url "source_delete" source.title %}">Delete</a>
    </li>
    
    </div>
    {% endfor %}
</ul>
<a href="{% url "source_create" %}">New</a>
{% if user.is_superuser %}
<a href="{% url "source_all" %}">Admin Editor</a>
{% endif %}
<a href="{% url "default" %}">View Site</a>
{% endblock %}
