{% extends 'base.html' %}
{% load staticfiles %}

{% block sitenav %}
{% include 'sitenav.html' %}
{% endblock %}

{% block content %}
<h1>Coordinator Interface</h1>
<span style='color: {{ status.color }};'><p><i>{{ status.text }}</i></p></span>

{% if user.is_superuser %}
<a class="btn btn-default" href="{% url "source_create" %}">New Role</a>
<a href="{% url "source_all" %}">Full Editor</a> | 
<a href="{% url "source_lock" %}">Set Availability</a> | 
{% endif %}
<a href="{% url "download_csv" %}">Download CSV</a> | <a href="{% url "eald_csv" %}">EA/LD CSV</a> | 
<i>Showing a total of <b>{{totaljobs}}</b> slots staffed with <b>{{totalpeople}}</b> volunteer(s). (<b>{{staffpercent}}%</b> staffed)</i>
<br/><br/>
	<table class="table table-striped">
    <tr>
    <th>Role</th>
	<th>Volunteers / Total</th>
	<th>Last Modified</th>
	<th>Actions</th>
	</tr>
    {% for source in sources %}
    <tr>
	<td><a href="{% url "jobs" source.source.title %}">{{ source.source.title }}</a></td>
	<td>
		<img title="{{source.alt}}" src="{% static source.pic %}" height=20></img>
		{{ source.personcount }} / {{ source.jobcount }}
	</td>
	<td>{{ source.source.owner }}<br/>{{ source.source.version }} PDT</td>
    <td>
    	<a href="{% url "source_update" source.source.title %}">Edit</a> 
    	{% if user.is_superuser %} |
	    	<a href="{% url "source_delete" source.source.title %}">Delete</a>
	    {% endif %}
	    | <a href="{% url "email_list" source.source.title %}">Email</a>
    </td>
    {% endfor %}
    </table>
{% endblock %}
