
<form method="post" action="{% url "delete" object.pk %}">
  {% csrf_token %}
  <div class="modal-content">
    <div class="modal-header">
      <h4>Delete {{ object.title }}?</h4>
  	  <p>{{ object.start | date:"l P" }} 
    </div>
    <div id="form-modal-body" class="modal-body">
  	  {{ form }} 
    </div>
    <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-primary"></input>
        <a href="{% url "jobs" ret %}" type="button" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
