{% extends 'base.html' %}
{% load cache %}

{% block sitenav %}
{% include 'sitenav.html' %}
{% endblock %}

{% block content %}
	{% cache 600 jobpage user.username source.title %}
	<section>
	<div class="sitemenu">
	<ul>
	{% for s in sources %} 
	  	<li><a href="{% url "jobs" title=s.pk %}">{{s.pk}}</a></li>
	{% endfor %}
	</ul>
  	</div>

	<div class="jobselect">
	<div class="roleheader">
	<h1>{{ source.title }}</h1>
	<div class="coordinators">

		<div class="coordinator-pics">
		{% for coordinator in coordinators %}
  		  <img src="{{coordinator.url}}"></img>
		{% endfor %}	

		</div>
		<div class="coordinator-names">
		{% for coordinator in coordinators %}
  		  <span class="coordinator-name">{{ coordinator.name }}</span>
		{% endfor %}		
		</div>
		
	</div>
	<div class="roledescription">
		{{ role.description | safe }}
	</div>
	<div class="jobslist">
	{% for job in jobs %} 
		<div class="job">

		<h3>{{ job.job.title }}</h3>
		<span class="jobtimes">{{ job.job.start | date:"l P" }} to {{ job.job.end | date:"l P" }}</span>
		<span class="jobdescription">{{ job.job.description }}</span>
		<p>Volunteers:</p>
		<div class="jobpeople">

		{% for volunteer in job.volunteers %} 
			<span class="jobperson">
			{{ volunteer.volunteer.name | title}} 
			{% if volunteer.volunteer.comment != "" %}
				-- "{{ volunteer.volunteer.comment }}"
			{% endif %}
			{% if volunteer.can_delete != None %}
				<a href='javascript:void(0)' onclick='popup_click("{% url "delete" pk=volunteer.can_delete %}");'>(delete)</a>
			{% endif %}
			</span>
		{% endfor %}


		{% if job.can_signup > 0 and user.is_authenticated %}	
			<a href='javascript:void(0)' onclick='popup_click("{% url "signup" pk=job.job.pk %}");'>		
			<span class="jobneeds">(needs {{ job.can_signup }} more)</span>
			</a>
		{% endif %}
		
		</div>

		</div>
	{% endfor %}
	</div>
	</section>

	{% include "popupform.html" %}	
	
	{% endcache %}
{% endblock %}


