{% extends 'base.html' %}
{% load cache %}

{% block sitenav %}
{% include 'sitenav.html' %}
{% endblock %}

{% block content %}
	{% cache 600 jobpage user.username source.title %}
	
	<div class="row">
	<div class="col-md-3">
		<ul class="list-group">
		{% for s in sources %} 
		  	<li class="list-group-item"><a href="{% url "jobs" title=s.pk %}">{{s.pk}}</a></li>
		{% endfor %}
		</ul>
	</div>

	<div class="col-md-9">	

		<div class="roleheader">
			<h1>{{ source.title }}</h1>
			{% if needed > 0 %}
				<i>There are {{ needed }} shifts available of a total of {{ total }} needed.</i>
			{% else %}
				<i>All {{total}} available shifts are taken!</i>
			{% endif %} 				
			<h3>Coordinators</h3>
			<div class="coordinators">
				<div class="coordinator-pics">
					{% for coordinator in coordinators %}
  					  <img src="{{coordinator.url}}"></img>
					{% endfor %}	
				</div>
				<div class="coordinator-names">
				{% for coordinator in coordinators %}
  				  	{{ coordinator.name }}{% if not forloop.last %}, {%endif%} 
				{% endfor %}		
				</div>
			</div>

			<h3>Description</h3>
			<div class="roledescription">
				{{ role.description | safe }}
			</div>
			
		</div>
		
		<div class="jobslist">
		{% for job in jobs %} 
			<h3>{{ job.job.title }}</h3>
			<div class="job">
				<span class="jobtimes">{{ job.job.start | date:"l P" }} to {{ job.job.end | date:"l P" }}</span>
				<span class="jobdescription">{{ job.job.description }}</span>

				<div class="jobpeople">
					{% if job.job.protected %}
						<i>Please contact the coordinator to sign up for this job.</i>
					{% endif %}
					<table class="table table-striped">
					{% for volunteer in job.volunteers %} 
						<tr>
						<td>{{ forloop.counter }}</td>
						<td>
						{% if volunteer.volunteer != None %}
							{{ volunteer.volunteer.name | title}} 
							{% if volunteer.volunteer.comment != "" %}
								<span class="volunteercomment">{{ volunteer.volunteer.comment }}</span>
							{% endif %}
							{% if volunteer.can_delete != None %}
								<a href='javascript:void(0)' onclick='popup_click("{% url "delete" pk=volunteer.can_delete %}");'>(delete)</a>
							{% endif %}
						{% endif %}							
						</td>
						</tr>
					{% endfor %}
					</table>
								
					{% if job.can_signup %}	
<!--						<a href='javascript:void(0)' onclick='popup_click("{% url "signup" pk=job.job.pk %}");'>		
						<span class="jobneeds">Signup now!</span>
						</a>
-->
						<button onclick='popup_click("{% url "signup" pk=job.job.pk %}");'>Signup</button>
					{% endif %}					
				</div>

			</div>		
		{% endfor %}
		</div>
		
	</div> <!-- end of the selection column -->

	{% include "popupform.html" %}		
	{% endcache %}
{% endblock %}


